set completion-ignore-case on
set completion-query-items 40
set convert-meta off
set editing-mode vi
set input-meta on
set keyseq-timeout 100
set mark-directories on
set mark-symlinked-directories on
set match-hidden-files on
set output-meta on
set page-completions on
set show-all-if-ambiguous on
set show-mode-in-prompt on
set vi-cmd-mode-string ": "
set vi-ins-mode-string ""
set visible-stats on

# Exit normal/command mode by typing 'jk' or 'kj'
"jk":"\e"
"kj":"\e"

# Use typed text as the prefix for searching through commands
"\C-j": history-search-forward
"\C-k": history-search-backward

# Restore this behavior from emacs mode
"\C-l": clear-screen

# Avoid issues with C-s
"\C-f": forward-search-history

