# The reason for having .git/ here is to make sure Telescope in neovim doesn't
# search inside the .git/ directory. This works because Telescope respects
# .gitignore.
.git/

config.sh
config/git/gitk
config/zsh/.zcompcache
config/zsh/.zcompdump
config/iterm2

