[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "resources/Menlo-for-Powerline"]
	path = resources/Menlo-for-Powerline
	url = https://github.com/abertsch/Menlo-for-Powerline.git
[submodule "resources/powerline-consolas"]
	path = resources/powerline-consolas
	url = https://github.com/nicolalamacchia/powerline-consolas.git
